$primaryColor: #fff;
$secondaryColor: #999;
$footerColor: #777;
$headerColorDark: #111;

// Linear gradient
$colorStart: rgba(0,0,0,0.3);
$colorMid: rgba(0,0,0,0.4);
$colorEnd: rgba(0,0,0,0.45);

// Font-family
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

// Background color for sections
$firstBackground: rgb(248, 248, 248);
$secondBackground: rgb(255, 255, 255);

// Buttons 
$lightColor: #ececec;
$darkColor: rgba(0,0,0,0.6);

// Footer background
$firstFooterBG: #111;
$secondFooterBG: #222;

// Media
$sml: ( max: 570px );
$med: ( max: 680px );
$lrg: ( max: 750px );
